@page "/Recibos"
@rendermode InteractiveServer


@using Controladores
@using Dominio
@inject ControladorDatos ControladorDatos
<body style="background-color: #f4f4f4"></body>
<MudContainer MaxWidth="MaxWidth.Large">
    <MudDataGrid T="Dato" Items="@_datos" FixedHeader="true" Striped="true" Hover="true" Dense="true" Height="70dvh" QuickFilter="@_quickFilter">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Recibos</MudText>
            <MudSpacer/>
            <MudTextField @bind-Value="busqueda" Placeholder="Buscar" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Titulo"/>
            <PropertyColumn Property="x => x.Autor"/>
            <PropertyColumn Property="x => x.Destinatario"/>
            <PropertyColumn Property="x => x.Fecha"/>
            <PropertyColumn Property="x => x.Observacion"/>
            <TemplateColumn>
                <CellTemplate>

                    <MudIconButton Icon="@Icons.Material.Filled.DensityMedium" Size="Size.Small"></MudIconButton>

                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</MudContainer>



@code
{
    String busqueda = string.Empty; // Inicializa con cadena vacía
    IEnumerable<Dato> _datos = new List<Dato>();

    protected override void OnInitialized()
    {
        _datos = ControladorDatos.ListarDatos();
    }

    private Func<Dato, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(busqueda))
            return true;
        return (x.Titulo?.Contains(busqueda, StringComparison.OrdinalIgnoreCase) ?? false) ||
               (x.Autor?.Contains(busqueda, StringComparison.OrdinalIgnoreCase) ?? false) ||
               (x.Destinatario?.Contains(busqueda, StringComparison.OrdinalIgnoreCase) ?? false) ||
               (x.Observacion?.Contains(busqueda, StringComparison.OrdinalIgnoreCase) ?? false) ||
               $"{x.Fecha}".Contains(busqueda, StringComparison.OrdinalIgnoreCase);
    };
}
